* {
  margin:0 0;
  padding: 0 0;
  box-sizing: border-box;
}

body {
  font-family:'Ubuntu', sans-serif;
  background: rgb(40, 44, 52);
  color:white;
}

#navbar {
  width:100%;
  background-color:rgb(33, 36, 44);
  height:60px;
  position:fixed;
  top:0;
  text-align:right;
}
#navbar img {
  height:40px;
  width:50px;
  float:left;
  margin:10px 0 0 35px;
}

#navbar ul li{
  line-height:60px;
  list-style-type:none;
  display:inline-block;
}

#navbar ul a{
  text-decoration:none;
  color:white;
  font-weight:bold;
  text-transform:uppercase;
  padding:20px 25px;
  margin:0px 10px;
}

#navbar ul a:hover{
  color:#e6ffe6;
  transition:0.5s;
}

#main {
  text-align:center;
}

#welcome-section {
  background-color:rgb(40, 44, 52);
  min-height: 100vh;
  line-height: 40px;
  padding-top: 50vh;
}

#welcome-section h1 {
  color:white;
  font-size:35px;
}

#welcome-section p {
  font-size:24px;
  color: 	#009973;
}
#about{
  background-color:rgb(33, 36, 44);
  padding:50px;
  line-height: 35px;
}
#about h2 {
  font-size:25px;
  color: white;
}
#about p {
  color: white;
}
#info {
  padding-top:50px;
  color:white;
}
#projects {
  display:flex;
  justify-content:center;
  align-items: center;
  padding-top: 50px;
  background: white;
  background-color:rgb(40, 44, 52);
  flex-wrap: wrap;
}
 #projects h2{
  font-size:25px;
}
.project{
  display:flex;
  margin:5px;
}
.project img{
  height:50vh;
  width:30vw;
}
.projectInfo{
  height:50vh;
  width:70vw;
  background-color:rgb(22, 24, 29);
  display:flex;
  justify-content:center;
  align-items: center;
  border-radius: 3px;
  padding:25px;
  line-height: 23px;
}
.project h3{
  padding:5px;
}

#contacts {
  background-color:rgb(33, 36, 44);
  background-color:rgb(40, 44, 52);
  padding-top:50px;
  color:white;
}

#contacts h2 {
  font-size:25px;
}

.contact-details{
  text-decoration:none;
  font-weight:bold;
  color:white;
  display:inline-block;
  width:100px;
  height:100px;
  border-radius:50%;
  line-height: 100px;
  background-color:rgb(33, 36, 44);
  margin: 50px 25px 100px;
}

.contact-details:hover {
  background: #009973;
}



footer {
  padding: 20px;
  background:rgb(33, 36, 44);
  color: white;
  font-size:16px;
  white-space:pre;
}


@media screen and (max-width:440px) {
  #navbar {
  height:75px;
  text-align:center;
}

#navbar ul li{
  line-height:25px;
  display:block;
}
}

@media screen and (max-width:600px){
  #contacts h2 {
    padding-top:20px;
  }
  #contacts p{
  margin-bottom:20px;
}
.contact-details{
  margin:15px;
}

}
